---
---

@import "{{ site.theme }}";
.site-title::before {
	content: url("https://zenodo.org/records/21482164/files/PSWS_Logo%20Finals-01.png");
	display: inline-block;
	position: relative;
	width: 38px;
	top: 5px;
}
